<!-- templates/registration/register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/register.css' %}">
</head>
<body>
    <div id="box1" style="height:400px">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <img src="data:image/png;base64,{{ captcha_image }}" alt="CAPTCHA">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
